@charset "UTF-8";
@import url(components/lib/splide.css);

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(components/theme-settings.css);
@import url(components/otsb-collection-list.css);
@import url(components/otsb-promotion-banner.css);
@import url(components/otsb-media-with-text.css);

[x-cloak] { display: none !important; }