<div class=" items-start items-center items-end text-center text-start text-end justify-start justify-end justify-center"></div>
<div class=" object-bottom object-center object-left object-left-bottom object-left-top object-right
 object-right-bottom object-right-top object-top"></div>

 <div class="otsb-desktop-medium otsb-desktop-large otsb-image-position-mobile-right otsb-image-position-mobile-left otsb-image-position-right otsb-image-position-left otsb-stacked">
    <div class="otsb-iwt-content self-center self-start self-end"></div>
    <div class="otsb-iwt-content-overlap  otsb-iwt-overlap otsb-iwt-no-overlap">
        <div class="align-center">
       </div>
    </div>
</div>
<div class="md:justify-left md:justify-right otsb-button-play"></div>