<div class=" opacity-0 opacity-10 opacity-20 opacity-30 opacity-40 opacity-50 opacity-60 opacity-70 opacity-80 opacity-90 opacity-100  "></div>
<div class=" md:promotion-h--small md:promotion-h--medium md:promotion-h--large promotion-h-mobile--small promotion-h-mobile--medium promotion-h-mobile--large"></div>
<div class="lg:promotion-alignment--top-left lg:promotion-alignment--top-center lg:promotion-alignment--top-right
lg:promotion-alignment--center-left lg:promotion-alignment--center lg:promotion-alignment--center-right lg:promotion-alignment--bottom-left
lg:promotion-alignment--bottom-center lg:promotion-alignment--bottom-right lg:promotion-alignment--custom"></div>
<div class="promotion-alignment--top-left promotion-alignment--top-center promotion-alignment--top-right
promotion-alignment--center-left promotion-alignment--center promotion-alignment--center-right promotion-alignment--bottom-left
promotion-alignment--bottom-center promotion-alignment--bottom-right promotion-alignment--custom
md:promotion-alignment--top-left md:promotion-alignment--top-center md:promotion-alignment--top-right
md:promotion-alignment--center-left md:promotion-alignment--center md:promotion-alignment--center-right md:promotion-alignment--bottom-left
md:promotion-alignment--bottom-center md:promotion-alignment--bottom-right md:promotion-alignment--custom"></div>
<div class=" promotion-box-content--square promotion-box-content--round"></div>
<div class=" after:round "></div>
<div class="promotion h-[250px] h-[300px] h-[400px] h-[500px] md:promotion:h-[400px] md:promotion:h-[450px] md:promotion:h-[550px] md:promotion:h-[650px] md:promotion:h-[750px] md:promotion:h-[95vh] h-[94vh]"></div>
<div class="md:h-[450px] md:h-[550px] md:h-[650px] md:h-[750px]"></div>
<div class="md:promotion:h-[90vh] h-[90vh] md:promotion:h-[100vh] h-[100vh]"></div>
<div class="h-[200px] h-[350px]"></div>
<div class="justify-left justify-right lg:justify-left lg:justify-right lg:justify-center"></div>
<div class="items-left items-right"></div>