<div class="otsb-contact-has-image otsb-contact-has-info otsb-contact-full-width otsb-page-width">
    <div class="otsb-contact-align-left otsb-contact-align-right">

        <div class="otsb-contact-form otsb-form-align-right otsb-form-align-left"></div>
        <div class="otsb-contact-infomation lg:w-[46%] lg:gap-x-[8%] otsb-input otsb-custom-button max-w-[500px] max-w-[550px] max-w-[600px] max-w-[650px] max-w-[700px] max-w-[750px] max-w-[800px]"></div>
    </div>
</div>