<div class="banner--small banner--medium banner--large"></div>
<div class="box--top-left box--top-center box--top-right"></div>
<div class="box--middle-left box--middle-center box--middle-right"></div>
<div class="box--bottom-left box--bottom-center box--bottom-right"></div>
<div class="h-[250px] h-[300px] h-[400px] h-[500px] md:slideshow:h-[450px] md:slideshow:h-[550px] md:slideshow:h-[650px] md:slideshow:h-[750px]"></div>
<div class="items-end items-start items-center"></div>
<div class="object-bottom object-center object-left object-right object-left-top object-left-bottom object-right-bottom object-right-top"></div>
<div class="opacity-0 opacity-10 opacity-20 opacity-30 opacity-40 opacity-50 opacity-60 opacity-70 opacity-80 opacity-90 opacity-100"></div>
<div class="items-start justify-start text-left"></div>
<div class="content_alignment-top-left content_alignment-top-center content_alignment-top-right content_alignment-middle-left text-center"></div>
<div class="content_alignment-middle-center content_alignment-middle-right content_alignment-bottom-left content_alignment-bottom-center content_alignment-bottom-right"></div>
 
<div class="pagination-bars pagination-dots">
<div class="pagination-bars:is-active-pagination:after:animate-shimmerX_6s pagination-bars:is-active-pagination:after:animate-shimmerX_7s pagination-bars:is-active-pagination:after:animate-shimmerX_8s pagination-bars:is-active-pagination:after:animate-shimmerX_5s pagination-bars:is-active-pagination:after:animate-shimmerX_9s pagination-bars:is-active-pagination:after:animate-shimmerX_10s">
</div>
<div class="md:slideshow:h-[95vh] slideshow:h-[95vh] h-[94vh]"></div>
<div class="align-top align-middle align-bottom lg:align-top lg:align-middle lg:align-bottom">
<div class="pagination-dots">
    <button class="button"></button>
    <button class="button is-active"></button>
</div>