<div
  class="otsb-grid otsb-grid-cols-1 otsb-grid-cols-2 otsb-grid-cols-3 otsb-grid-cols-4 otsb-grid-cols-5 otsb-grid-cols-6 otsb-grid-cols-7 otsb-grid-cols-8 otsb-grid-cols-9 otsb-grid-cols-10 otsb-grid-cols-11 otsb-grid-cols-12"
></div>
<div
  class="md:otsb-grid md:otsb-grid-cols-1 md:otsb-grid-cols-2 md:otsb-grid-cols-3 md:otsb-grid-cols-4 md:otsb-grid-cols-5 md:otsb-grid-cols-6 md:otsb-grid-cols-7 md:otsb-grid-cols-8 md:otsb-grid-cols-9 md:otsb-grid-cols-10 md:otsb-grid-cols-11 md:otsb-grid-cols-12"
></div>
<div
  class="lg:otsb-grid lg:otsb-grid-cols-1 lg:otsb-grid-cols-2 lg:otsb-grid-cols-3 lg:otsb-grid-cols-4 lg:otsb-grid-cols-5 lg:otsb-grid-cols-6 lg:otsb-grid-cols-7 lg:otsb-grid-cols-8 lg:otsb-grid-cols-9 lg:otsb-grid-cols-10 lg:otsb-grid-cols-11 lg:otsb-grid-cols-12"
></div>
<div
  class="otsb-text-right otsb-heading-right otsb-heading-left otsb-opacity-0 otsb-opacity-10 otsb-opacity-20 otsb-opacity-30 otsb-opacity-40 otsb-opacity-50 otsb-opacity-60 otsb-opacity-70 otsb-opacity-80 otsb-opacity-90 otsb-opacity-100"
></div>
