@layer components {
    .otsb-image-position-mobile-left {
        @apply flex flex-col;
    }

    .otsb-image-position-mobile-right {
        @apply flex flex-col-reverse;
    }

    .otsb-image-position-right {
        @apply flex md:flex-row-reverse;
    }

    .otsb-image-position-left {
        @apply flex md:flex-row
    }

    .otsb-iwt-content {
        @apply pr-5 pl-5 md:pl-12 md:pr-12 md:pt-10 md:pb-10 pb-3;
    }

    .otsb-image-position-mobile-right .otsb-iwt-overlap {
        @apply -mb-10 md:mb-0
    }

    .otsb-image-position-mobile-left .otsb-iwt-overlap {
        @apply -mt-10 md:mt-0
    }

    .otsb-image-position-right .otsb-iwt-overlap {
        /*decrease z-10 to z-2 to prevent image overlap above content in other theme*/
        @apply md:-mr-10 z-2 pt-3 md:pt-10;
    }

    .otsb-image-position-left .otsb-iwt-overlap {
        /*decrease z-10 to z-2 to prevent image overlap above content in other theme*/
        @apply md:-ml-10 z-2 pt-3 md:pt-10;
    }

    .otsb-image-position-right .otsb-iwt-no-overlap {
        @apply lg:pr-24 lg:pl-11 pt-3 md:pt-10;
    }

    .otsb-image-position-left.otsb-stacked .otsb-iwt-no-overlap {
        @apply pt-8 md:pt-10;
    }

    .otsb-image-position-left .otsb-iwt-no-overlap {
        @apply pt-3 lg:pl-24 lg:pr-11 md:pt-10;
    }

    .otsb-iwt-content-overlap {
        @apply md:pt-10 md:pb-10;
    }

    .otsb-button-play:hover span {
        @apply scale-125;
    }

    .otsb-truncate-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        max-height: var(--truncate-height, auto);
        margin: 0 auto;
        overflow: hidden;
        transition: max-height 0.3s ease;
        text-overflow: ellipsis;
    }

    .otsb-truncate-expanded {
        max-height: var(--truncate-height-expanded, auto);
    }

    .otsb-truncate-line-clamped .otsb-truncate-inner.otsb-add-dot-mobile:after {
        content: '...';
        padding-left: 0.15em;
        color: currentColor;
        position: absolute;
        display: block;
        bottom: 1px;
        right: 0;
        width: fit-content;
        background-color: rgba(var(--background-color));
    }
}