@layer components {
    @media screen and (max-width: 1024px) {
        .splide__arrow {
            display: none;
        }
    }

    .otsb-heading-right {
        @apply flex flex-wrap flex-row-reverse;
    }

    .otsb-heading-right .otsb-section-header,
    .otsb-heading-right h2 {
        @apply text-end;
    }

    .otsb-heading-left {
        @apply flex flex-wrap flex-row;
    }

    .otsb-heading-left .otsb-section-header,
    .otsb-heading-left h2 {
        @apply text-start;
    }

    .otsb-hidden {
        @apply hidden;
    }

    .otsb-grid {
        @apply grid;
    }
}